* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header nav {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(201, 201, 201, 0.704);
}

.header #title {
  color: var(--title);
  font-size: 30px;
  display: flex;
  margin-left: 15px;
}


.header #linkChat {
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  background: linear-gradient(135deg, #159f30, #00c6ff);
  box-shadow: 10px 20px -15px rgba(0, 0, 0, 0.205);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.header #linkChat::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #a9ecff, #00c8ffaf);
  transition: 0.5s;
  z-index: -1;
}

.header #linkChat:hover::before {
  width: 100%;
}

.header #linkChat:hover {
  color: black;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 40px 50px;
}

/*Introducción logo*/
#logo-introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

#logo-introduction h1 {
  color: var(--logo);
}

#logo-introduction p {
  color: gray;
  font-size: 15px;
  padding: 10px;
}

.general {
  margin: 20px;
}

/*Funcionamiento general*/
.title-item {
  font-size: 25px;
  color: var(--text);
  margin-bottom: 20px;
}

.box-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 15px;
}

.box-item {
  background-color: #dff3f9be;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(201, 201, 201, 0.251);
  box-shadow: 10px 10px 20px -15px rgba(0, 0, 0, 0.205);
}

.box-item h3 {
  font-size: 20px;
  color: rgb(47, 47, 47);
  margin-bottom: 10px;
}

.box-item p {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 20px;
  color: rgb(67, 67, 67);
}

.interactive {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.interactive:hover {
  transform: translateY(-8px);
  filter: brightness(1.1);
}

.functions {
  background: var(--muted-bg);
  color: var(--muted-fg);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  margin: 15px 0px;
}

.functions h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.functions li {
  margin: 8px 15px
}

.functions ol li::marker {
  color: #1508a4;
  font-weight: bold;
}

.functions p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: rgb(67, 67, 67);
}

.functions span {
  font-weight: bold;
}

/*Footer*/
.help-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-top: 1px solid rgb(201, 201, 201);
}

.help-footer p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray;
}

.help-footer p:first-child {
  font-size: 15px;
  margin-bottom: 6px;
}

.help-footer p:nth-child(2) {
  font-size: 13px;
}

@media (max-width: 780px) {
  .box-conteiner {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 430px) {

  .header #title {
    font-size: 25px;
  }

  .header #linkChat {
    font-size: 10px;
  }
}